/* Gloal Colors */

:root {
  --clr-text: #000000;
  --clr-text-muted: #6c6c6c;
  --clr-background: #fdfcfc;
  --clr-background-muted: #e5e5e5;
  --clr-primary: #ff881a;
  --clr-secondary: #f2f2cf;
  --clr-accent: #c1c133;
  --clr-footer-text: #efeeee;
  --clr-shadow: rgba(0, 0, 0, 0.2);
  --clr-shadow-deep: rgba(0, 0, 0, 0.3);
}

/* Global Settings */
:root {
  --page-width: clamp(375px, 100vw, 500px);
  --page-height: clamp(700px, 100svh, 1000px);
  --page-padding: 4svh 2rem;
}

body {
  color: var(--clr-text);
  font-family: var(--ff-primary);
}
